###Problem Statement:
Mr Hardik Pandya is looking for a house price prediction application but he wants it to be done for a specified area. Create a dataset which has Area in square meters, the number of bedrooms, the number of bathrooms, how much older the house and the respective price. With that particular locality data train and create your ML model.

###Understanding the problem statement:
The client needs to predict the price of houses.

###Data Collection and Analysis

In [2]:
import pandas as pd
df = pd.read_csv('/content/rshousing.csv')
df

   area  bedroom  bathroom  age     price
0   950        3       2.0    1   6400000
1  1000        4       4.0    5  20000000
2  2400        5       3.0   10  14800000
3  3500        4       NaN   14  27500000
4  4400        1       1.0    8  37500000

###Handling Missing Values

In [3]:
import math

In [4]:
df['bathroom']

0    2.0
1    4.0
2    3.0
3    NaN
4    1.0
Name: bathroom, dtype: float64

In [5]:
broom_median=math.floor(df['bathroom'].median())
broom_median

2

FILLING THE MISSED DATA

In [6]:
df['bathroom']=df['bathroom'].fillna(broom_median)
df

   area  bedroom  bathroom  age     price
0   950        3       2.0    1   6400000
1  1000        4       4.0    5  20000000
2  2400        5       3.0   10  14800000
3  3500        4       2.0   14  27500000
4  4400        1       1.0    8  37500000

###Build ML Model

In [9]:
from sklearn import linear_model

In [10]:
reg=linear_model.LinearRegression()

In [18]:
X=df.drop('price',axis=1)
print(X)

   area  bedroom  bathroom  age
0   950        3       2.0    1
1  1000        4       4.0    5
2  2400        5       3.0   10
3  3500        4       2.0   14
4  4400        1       1.0    8

In [8]:
Y=df['price']
Y

0     6400000
1    20000000
2    14800000
3    27500000
4    37500000
Name: price, dtype: int64

In [11]:
reg.fit(X,Y)

LinearRegression()

In [14]:
reg.predict([[1000,2,3,4]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([30783260.3938731])

In [19]:
reg.score(X,Y)

1.0

###Formula

In [26]:
a=reg.coef_
a

array([ 5.66739606e+02, -1.01826039e+07,  7.28676149e+06,  2.29518600e+06])

In [27]:
b=reg.intercept_
b

19540700.2188184

Download model

In [21]:
import pickle
with open('rsmodel','wb') as f:
  pickle.dump(reg,f)