###Final Process
Client will give a file with 'n' no.of.input variables along with values we have to use the ML model. We built and have to predict the output for entire data and convert it to '.csv file' and dw it.

###Upload the downloaded model

In [1]:
import pickle

In [2]:
with open('/content/rsmodel','rb') as f:
  reg=pickle.load(f)

###Upload the client file and read the file using pandas

In [5]:
import pandas as pd
df=pd.read_csv('/content/rshousing_clientfile.csv')
df

   area  bedroom  bathroom  age
0  1000        1         1    4
1  2000        2         2    2
2  3000        3         2    3
3  3500        3         3    2
4  4000        2         3    1

In [6]:
predictdf = reg.predict(df)
predictdf

array([26392341.35667398, 19472866.52078773, 12152188.1838074 ,
       17427133.4792122 , 25597921.22538287])

In [7]:
df['price'] = predictdf
df

   area  bedroom  bathroom  age         price
0  1000        1         1    4  2.639234e+07
1  2000        2         2    2  1.947287e+07
2  3000        3         2    3  1.215219e+07
3  3500        3         3    2  1.742713e+07
4  4000        2         3    1  2.559792e+07

###Downloading the output file

In [8]:
#Convert the final df to csv file
df.to_csv('Housepriceclientfileoutput',index=False)